{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
		  <div class="media-body">
		  	<div class="article-metadata">
		  		{% if current_user.username == 'admin' or current_user.username == 'manager': %}
		  			<div>
		  				<a class="btn btn-secondary btn-sm m-1" href = "{{ url_for('update_post', post_id=post.employee_id) }}">Update</a>
		  				<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete
		  				</button>
		  			</div>
		  		{% endif %}
		    <h2 class="article-title">Employee Record</h2>
		    <p class="article-content">BloreBank ID: {{ post.employee_id }}</p>
		    <p class="article-content">First Name: {{ post.first_name }}</p>
		    <p class="article-content">Last Name: {{ post.last_name }}</p>
		    <p class="article-content">DOB: {{ post.birthday }}</p>
		    <p class="article-content">Address: {{ post.address }}</p>
		    <p class="article-content">Contact Number: {{ post.contact_number }}</p>
		    <p class="article-content">Position: {{ post.position }}</p>
		    <p class="article-content">Intranet Username: {{ post.intranet_user }}</p>
		    <p class="article-content">Intranet Password: {{ post.intranet_pass }}</p>
		  </div>
		</article>
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteModalLabel">Delete Record?</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('delete_post', post_id=post.employee_id) }}" method="POST">
					<input class="btn btn-danger" type="submit" value="Delete">
				</form>
		      </div>
		    </div>
		  </div>
		</div>


{% endblock %}